<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
</head>
<body>
    <h1>To Do App</h1>

    <form action="">
        <div>
            <label for="title">Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo...">
                <br>
                <button type="submit">
                 Add
                </button>
        </div>
    </form>

    {% for todo in todo_list %}
        <p>{{ todo.id }} | {{  todo.title }}</p>

        {% if todo.complete == False %}
            <span>
            Not Complete
            </span>
        {%  else %}
            <span>
            Complete
            </span>
        {% endif %}
    {% endfor %}
</body>
</html>